.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #002b55;
  min-height: 100vh;
}
.img-container {
  max-width: 1800px;
  min-width: 1800px;
  max-height: 800px;
  min-height: 800px;
  overflow: scroll;
  position: relative;
}
.status-container {
  background-color: aquamarine;
  background-image: linear-gradient(#113f6d, #195897);
  min-width: 1800px;
  padding: 1rem;
  display: flex;
  align-items: baseline;
}
.status-container h1 {
  margin-right: 2rem;
}
.status-container div {
  display: flex;
  justify-content: space-around;
}

.status-container div p {
  margin-right: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
}
.dropdown-menu {
  position: absolute;
  background-color: blue;
  list-style: none;
}
.hidden {
  display: none;
}
.found {
  text-decoration: line-through;
  text-decoration-color: crimson;
  text-decoration-thickness: 3px;
}
.mark-container {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mark-container svg {
  width: 100%;
  height: 100%;
}
.tick {
  color: greenyellow;
}
.cross {
  color: crimson;
}
